<% include partials/header %> 

<div id="landingBody">
    <!-- Cover -->
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="container">
        <main role="main" class="inner cover">
        <h1 class="cover-heading display-1">uNotes</h1>
        <p class="lead">{ The place where you keep your notes! }</p>
        <p class="lead">
            <a href="/login" class="mainButtons btn btn-lg btn-outline-success"
            >Login</a
            >
        </p>
        <p class="lead">
            <a href="/register" class="mainButtons btn btn-lg btn-outline-warning"
            >Register</a
            >
        </p>
        </main>
    </div>
    </div>
</div>

<% include partials/footer %> 